<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>803582675466-cbosga4jj7me3mrc3lufal9lsfd6o5o3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.803582675466-cbosga4jj7me3mrc3lufal9lsfd6o5o3</string>
	<key>API_KEY</key>
	<string>-</string>
	<key>GCM_SENDER_ID</key>
	<string>803582675466</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pcosApp</string>
	<key>PROJECT_ID</key>
	<string>pcosproject-569e4</string>
	<key>STORAGE_BUCKET</key>
	<string>pcosproject-569e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:803582675466:ios:e38aa1407d7c26454c6df3</string>
</dict>
</plist>
